@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'AppleSDGothicNeoM', sans-serif;
}
textarea {
  resize: none;
}
.large-placeholder::placeholder {
  font-size: 1.5rem;
  font-family: 'AppleSDGothicNeoSB', sans-serif;
}
.large-placeholder {
  font-size: 1.5rem;
  border: 1px solid #ccc;
}
.large-placeholder:focus {
  outline: none;
  border: 1px solid #ccc;
}
